@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor:url(../images/tap.cur), auto;
}

::-webkit-scrollbar{
    display: none;
}


body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.pre-navbar {
    width: 100%;
    border-bottom: 2px solid #66045E;
    margin-top: 10px;
}

.forFlex {
    display: flex;
    justify-content: space-between;
}

.navbar {
    position: fixed;
    width: 84vw;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    z-index: 9999;
    background-color: #f3f3f3;

}

.navbar .fa-ellipsis-v {
    font-size: 23px;
    margin-top: 8px;
}

.container .logo-image img {
    height: 12vh;
}

.container .map-image img {
    height: 30vh;
    margin-top: 60px;
}

.started {
    padding: 20px;
    background-color: #66045E;
    color: white;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    outline: none;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 60px;
}

.basic-form {
    text-align: center;
    margin-top: 50px;
}

.basic-form h2 {
    text-transform: capitalize;
    color: #66045E;
    text-align: center;
}

form {
    margin-top: 30px;
}

form input {
    width: calc(100% - 30px);
    padding: 10px;
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #66045E;
    color: black;
    font-size: 18px;
}

form input::placeholder {
    text-transform: capitalize;
    color: #DB8DB9;
}

form select {
    width: calc(100% - 8px);
    padding: 10px;
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #66045E;
    color: #DB8DB9;
}

.next {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}


.next .right-arrow {
    padding: 20px;
    background-color: #66045E;
    color: white;
    outline: none;
    border: none;
    font-size: 22px;
    border-radius: 50%;
}

.threebuttons {
    padding: 10px;
    background-color: #66045E;
    color: white;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 60px;
}

.buttonsJour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fa-exchange-alt {
    font-size: 32px;
    margin-bottom: 20px;
    transform: rotate(90deg);

}

.appnavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;    
}

#sos{
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #66045E;
}


div.scrollmenu {
    background-color: #66045E;
    overflow: auto;
    white-space: nowrap;
}

.active {
    color: #f6f6f6 !important;
    border-bottom: 4px solid #f6f6f6 !important;
    margin-left: 50px;
}

div.scrollmenu a {
    display: inline-block;
    color: #f6f6f6;
    border-bottom: 4px solid transparent;
    text-align: center;
    padding: 14px;
    margin-right: 4px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #DB8DB9;
}

.showingshelpinglinks{
    margin-top: 20px;
}

.showingshelpinglinks a{
    padding: 10px;
    text-decoration: none;
    background-color: #66045E;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
}

.showingshelpinglinks ol{
    margin-top: 30px;
}

.issebhidikhaobhai{
    padding: 10px;
    text-decoration: none;
    background-color: #66045E;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
}

.userTraffic, .userTime, .userlan{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    background: #DB8DB9;
    color: #f1f1f1;
}

.emergency1, .emergency2, .emergency3{
    padding: 10px;
    width: 50%;
    margin-top: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #66045E;
    text-decoration: none;
    color: #f3f3f3;
}

