

.ajax-section {
    margin: 50px 0 20px;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
    .ajax-section .cities {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .ajax-section .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .ajax-section .cities {
        grid-template-columns: repeat(1, 1fr);
    }
}


.ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: #fff;
    color: #53627c;
}

.ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: #fff;
}

.ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #ff1e42;
}

.ajax-section .city sup {
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}

.ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
